/*button*/

.btn {
  text-align: center;
  @include font($main-font,400,20px,normal,normal,normal,$white);
  display: inline-block;
  padding: 16.5px 0;
  max-width: 198px;
  width: 100%;
  background: $primary-color;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 0.5s ease;
  &:hover {
    background: #ddd;
    border-color: #ddd;
    color: #000;
  }
}

.btn2 {
  text-align: center;
  @include font($main-font,400,20px,normal,normal,normal,$white);
  display: inline-block;
  padding: 16.5px 0;
  max-width: 198px;
  width: 100%;
  background: $secondary-color;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 0.5s ease;
  &:hover {
    background: #ddd;
    border-color: #ddd;
    color: #000;
  }
}
