/*banner*/

#banner {
  position: relative;
  .slider-banner{
    img{width: 100%;
    max-width: 100}
    margin: 0 0 -5px;
  }
  .row{
    text-align: left;
    max-width: 1600px;
    width: 95%;
    position: absolute;
    bottom: 16.48%;
    left: 0;
    right: 0;
  }
  h1{
    max-width: 585px;
    @include font($main-font,400,85px,normal,normal,90%,$white);
  }
  p{
    margin: 30px 0 50px;
    max-width: 467px;
    @include font("Open Sans",400,15px,normal,normal,180%,$white);
  }
}
#page-top{
  background: $primary-color;
  padding: 40px 0;
  .row{
    max-width: 1600px;
    width: 95%;
    @include flex(row,nowrap,space-between,center);
  }
  h2{
    text-align: left;
    @include flex-basis(1600px,891px);
    @include width(1600px,891px);
    @include font($main-font,400,55px,normal,normal,90%,$white);
  }
  .line{
    @include flex-basis(1600px,412px);
    @include width(1600px,412px);
    height: 5px;
    background: rgba(255,255,255,0.20);
  }
}
