/*header*/

#header {
  position: relative;
  z-index: 9999;
  .row{
    max-width: 1715px;
    @include flex(row,wrap,space-between,center);
  }
  nav {
    a#pull {
      display: none;
    }
    ul {
      width: 100%;
      margin: 0;
      padding: 41px 0;
      @include flex(row,wrap,space-between,center);
      li {
        display: inline-block;
        vertical-align: middle;
        a {
          display: inline-block;
          @include font($main-font,400,20px,normal,normal,normal,$third-color);
        }
        &.active-menu a, a:hover {
          color: #000;
        }
      }
    }
  }
  .hdLeft{
    position: relative;
    @include flex-basis(1790px, 654px);
    @include width(1790px, 654px);
    align-self: flex-start;
    img{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      max-width: 511px;
      @include width(654px, 511px);
    }
  }
  .hdMid{
    @include flex-basis(1790px, 571px);
    @include width(1790px, 571px);
  }
  .hdRight{
    text-align: right;
    @include flex-basis(1790px, 450px);
    @include width(1790px, 450px);
    a{
      position: relative;
      display: inline-block;
      padding: 15px 28px 15px 73px;
      background: $primary-color;
      border-radius: 5px;
      @include font($main-font,400,40px,normal,normal,normal,$white);
      &::before{
        content: url(../images/common/phone-icon.png);
        position: absolute;
        top: 52%;
        left: 25px;
        transform: translateY(-48%);
      }
    }
  }
}
