#about{
  background: url(../images/common/bgContent1.jpg)no-repeat center top;
  background-size: cover;
  padding: 96px 0 93px;
  .row{
    max-width: 1440px;
  }
  .panel{
    background: $white;
    padding: 20px 15px 20px 65px;
    max-width: 776px;
    width: 100%;
    @include flex(row,nowrap,space-around,stretch);
    h1{
      text-align: left;
      span{
        display: block;
        font-size: 50px;
        color: $primary-color;
      }
    }
    .text{
      max-width: 641px;
      width: 100%;
      padding: 20px 0 30px;
      text-align: left;
      p{
        max-width: 586px;
        margin: 1em auto 30px;
        @include font("Open Sans",400,15px,normal,0.5px,200%,$third-color);
      }
      .panel-below{
        @include flex(row,wrap,space-between,flex-start);
        max-width: 586px;
        margin: 0 auto;
        .left{
          .about-phone{
            margin: 30px 0 0;
            display: block;
            padding: 0 0 0 40px;
            position: relative;
            @include font($main-font,400,40px,normal,normal,90%,$secondary-color);
            &::before{
              content: url(../images/content/phone-icon.png);
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
    .social-media{
      background: $secondary-color;
      border-radius: 5px;
      max-width: 40px;
      padding: 49px 36px;
      @include flex(row,wrap,space-between,center);
      align-content: space-between;
      a{
        @include font("Socialico",400,50px,normal,normal,100%,#FFFFFF);
      }
    }
  }
}
