@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
	#header {padding: 0}
	#header .row {width: 100%; justify-content: space-around;}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}
  #header .hdLeft img{
    position: relative;
    left: 0;
		max-width: 320px;
    transform: translateX(0);
  }
	#header .hdMid{
		flex-basis: 100%;
    width: 100%;
	}
	#header .hdLeft, #header .hdRight{
    flex-basis: 50%;
    width: 50%;
  }
  #header .hdLeft {order: 2}
  #header .hdMid {order: 1}
  #header .hdRight {order: 3; text-align: center;}
	#banner h1{font-size: 55px;}
}
