@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
  .fl, .fr{float: none;}
	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}

  #banner{
    margin: -100px 0 0;
  }
  #banner .row{
    position: relative;
    bottom: 0;
    text-align: center;
    padding: 20px 0;
    h1, p{
      color: #000000;
      width: 100%;
      max-width: 100%;
    }

  }
  #page-top .row{justify-content: center;flex-wrap: wrap;}
  #page-top h2{
    flex-basis: 100%;
    margin: 20px 0;
    text-align: center;
  }
  #page-top .line{
    flex-basis: 100%;
    margin: 20px 0;
  }
  #page-top .btn{
    margin: 20px auto;
  }
  #about .panel{flex-wrap: wrap;padding: 20px 0;}
  #about .panel .text{
    max-width: 100%;
    width: 95%;
  }
  #about .panel .social-media{
    max-width: 100%;
    width: 80%;
    padding: 36px 49px;
  }
}
