@font-face {
  font-family: "socialico";
  src: url("fonts/Socialico/Socialico.eot");
  src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face {
  font-family: 'Staatliches';
  src: url("fonts/Staatliches/Staatliches-Regular.woff2") format("woff2"), url("fonts/Staatliches/Staatliches-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans/OpenSans.woff2") format("woff2"), url("fonts/OpenSans/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.suspension-contain {
  max-height: 980px;
  overflow: hidden;
  position: relative;
  z-index: 999999; }

html.suspended {
  background: rgba(0, 0, 0, 0.6); }

body {
  max-width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: "Staatliches"; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: inherit; }

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0; }

.row {
  max-width: 1200px;
  margin: 0 auto; }

/*floats*/
.fl {
  float: left; }

.fr {
  float: right; }

/*grids*/
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

/*typography*/
.text-primary {
  color: #B11414; }

.text-bold {
  font-weight: 700; }

.text-uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left; }

/*button*/
.btn {
  text-align: center;
  font-family: "Staatliches";
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #FFFFFF;
  display: inline-block;
  padding: 16.5px 0;
  max-width: 198px;
  width: 100%;
  background: #ED1B24;
  border-radius: 5px;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .btn:hover {
    background: #ddd;
    border-color: #ddd;
    color: #000; }

.btn2 {
  text-align: center;
  font-family: "Staatliches";
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #FFFFFF;
  display: inline-block;
  padding: 16.5px 0;
  max-width: 198px;
  width: 100%;
  background: #222222;
  border-radius: 5px;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .btn2:hover {
    background: #ddd;
    border-color: #ddd;
    color: #000; }

/*clearings*/
.clear {
  clear: both; }

.clearfix {
  display: block; }
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  bottom: 0 !important;
  left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta {
  display: none; }

/*contact form messages*/
form .messages p {
  display: none;
  font-family: Arial !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important; }

form .loading {
  display: none; }

form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

form [type="submit"] {
  margin: 20px auto; }

/*contact form*/
.ctc-form {
  margin: 0 auto;
  text-align: center; }
  .ctc-form input[type="text"] {
    font-family: Arial;
    font-size: 16px;
    color: #000;
    height: 45px;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto 8px; }
  .ctc-form textarea {
    font-family: Arial;
    font-size: 16px;
    color: #000;
    height: 45px;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto 8px;
    height: 120px;
    padding-top: 10px; }
  .ctc-form button {
    display: block; }
  .ctc-form .recap {
    display: inline-block; }
  .ctc-form .g-recaptcha div {
    margin: 0 auto 10px; }
  .ctc-form .ctc-hide {
    display: none; }

/*gallery*/
#content .gallery-container {
  text-align: center; }

#content .gallery {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  #content .gallery li {
    display: inline-block; }

#content .thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  line-height: .42857;
  margin-bottom: 20px;
  padding: 4px;
  -webkit-transition: border 0.5s ease-in-out 0s;
  -o-transition: border 0.5s ease-in-out 0s;
  transition: border 0.5s ease-in-out 0s; }
  #content .thumbnail:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02); }

#content .page_navigation {
  display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #0275d8;
  display: inline-block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative; }

#content .page_navigation > a:hover {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none; }

.page_navigation > a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none; }

h1 {
  font-family: "Staatliches";
  font-weight: 400;
  font-size: 75px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 90%;
  color: #212121; }

/*header*/
#header {
  position: relative;
  z-index: 9999; }
  #header .row {
    max-width: 1715px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #header nav a#pull {
    display: none; }
  #header nav ul {
    width: 100%;
    margin: 0;
    padding: 41px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #header nav ul li {
      display: inline-block;
      vertical-align: middle; }
      #header nav ul li a {
        display: inline-block;
        font-family: "Staatliches";
        font-weight: 400;
        font-size: 20px;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #545454; }
      #header nav ul li.active-menu a, #header nav ul li a:hover {
        color: #000; }
  #header .hdLeft {
    position: relative;
    width: 36.53631%;
    width: 36.53631%;
    -ms-flex-item-align: start;
    align-self: flex-start; }
    #header .hdLeft img {
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      max-width: 511px;
      width: 78.13456%; }
  #header .hdMid {
    width: 31.89944%;
    width: 31.89944%; }
  #header .hdRight {
    text-align: right;
    width: 25.13966%;
    width: 25.13966%; }
    #header .hdRight a {
      position: relative;
      display: inline-block;
      padding: 15px 28px 15px 73px;
      background: #ED1B24;
      border-radius: 5px;
      font-family: "Staatliches";
      font-weight: 400;
      font-size: 40px;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      color: #FFFFFF; }
      #header .hdRight a::before {
        content: url(../images/common/phone-icon.png);
        position: absolute;
        top: 52%;
        left: 25px;
        -webkit-transform: translateY(-48%);
        -ms-transform: translateY(-48%);
        transform: translateY(-48%); }

/*banner*/
#banner {
  position: relative; }
  #banner .slider-banner {
    margin: 0 0 -5px; }
    #banner .slider-banner img {
      width: 100%;
      max-width: 100; }
  #banner .row {
    text-align: left;
    max-width: 1600px;
    width: 95%;
    position: absolute;
    bottom: 16.48%;
    left: 0;
    right: 0; }
  #banner h1 {
    max-width: 585px;
    font-family: "Staatliches";
    font-weight: 400;
    font-size: 85px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 90%;
    color: #FFFFFF; }
  #banner p {
    margin: 30px 0 50px;
    max-width: 467px;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 180%;
    color: #FFFFFF; }

#page-top {
  background: #ED1B24;
  padding: 40px 0; }
  #page-top .row {
    max-width: 1600px;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #page-top h2 {
    text-align: left;
    width: 55.6875%;
    width: 55.6875%;
    font-family: "Staatliches";
    font-weight: 400;
    font-size: 55px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 90%;
    color: #FFFFFF; }
  #page-top .line {
    width: 25.75%;
    width: 25.75%;
    height: 5px;
    background: rgba(255, 255, 255, 0.2); }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#about {
  background: url(../images/common/bgContent1.jpg) no-repeat center top;
  background-size: cover;
  padding: 96px 0 93px; }
  #about .row {
    max-width: 1440px; }
  #about .panel {
    background: #FFFFFF;
    padding: 20px 15px 20px 65px;
    max-width: 776px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    #about .panel h1 {
      text-align: left; }
      #about .panel h1 span {
        display: block;
        font-size: 50px;
        color: #ED1B24; }
    #about .panel .text {
      max-width: 641px;
      width: 100%;
      padding: 20px 0 30px;
      text-align: left; }
      #about .panel .text p {
        max-width: 586px;
        margin: 1em auto 30px;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 15px;
        font-style: normal;
        letter-spacing: 0.5px;
        line-height: 200%;
        color: #545454; }
      #about .panel .text .panel-below {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        max-width: 586px;
        margin: 0 auto; }
        #about .panel .text .panel-below .left .about-phone {
          margin: 30px 0 0;
          display: block;
          padding: 0 0 0 40px;
          position: relative;
          font-family: "Staatliches";
          font-weight: 400;
          font-size: 40px;
          font-style: normal;
          letter-spacing: normal;
          line-height: 90%;
          color: #222222; }
          #about .panel .text .panel-below .left .about-phone::before {
            content: url(../images/content/phone-icon.png);
            position: absolute;
            top: 50%;
            left: 0;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    #about .panel .social-media {
      background: #222222;
      border-radius: 5px;
      max-width: 40px;
      padding: 49px 36px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: justify;
      align-content: space-between; }
      #about .panel .social-media a {
        font-family: "Socialico";
        font-weight: 400;
        font-size: 50px;
        font-style: normal;
        letter-spacing: normal;
        line-height: 100%;
        color: #FFFFFF; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
/*footer*/
#footer {
  background: #04396C;
  padding: 40px 0; }
  #footer .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px; }

/*inner pages*/
.inner #content {
  min-height: 400px;
  padding: 40px 0; }

/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto; }
  .inPrivacyBox p {
    text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
/*@media screen and (max-width:1440px){

}*/
/*@media screen and (max-width:1280px){

}*/
@media screen and (max-width: 1024px) {
  body {
    min-width: 320px; }
  .row {
    width: 95%; }
  #header {
    padding: 0; }
  #header .row {
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  #header nav {
    display: block;
    height: auto; }
  #header nav ul {
    width: 100%;
    display: none;
    height: auto;
    border-bottom: 5px solid #000;
    padding: 0 15px; }
  #header nav ul li {
    width: 100%;
    position: relative; }
  #header nav ul li a {
    display: block;
    float: none;
    padding: 10px 0; }
  #header nav a {
    text-align: left;
    width: 100%; }
  #header nav a strong {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 15px; }
  #header nav a#pull {
    display: block;
    color: #fff;
    background-color: #000;
    height: 30px;
    padding: 10px 0;
    width: 100%;
    position: relative; }
  #header nav a#pull:after {
    content: "";
    background: url("../images/nav-icon.png") no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  #header .hdLeft img {
    position: relative;
    left: 0;
    max-width: 320px;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  #header .hdMid {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 100%; }
  #header .hdLeft, #header .hdRight {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    width: 50%; }
  #header .hdLeft {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  #header .hdMid {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  #header .hdRight {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    text-align: center; }
  #banner h1 {
    font-size: 55px; } }

@media screen and (max-width: 800px) {
  [class*="col-"] {
    width: 100%; }
  .fl, .fr {
    float: none; }
  .cta {
    background: #035B96 url("../images/common/phonecall.png") no-repeat center center;
    border-bottom-left-radius: 40px;
    border-top: 2px solid #013f9a;
    border-top-left-radius: 40px;
    bottom: 1%;
    display: block;
    height: 80px;
    position: fixed;
    right: 0;
    text-decoration: none;
    text-indent: -9999em;
    width: 100px;
    z-index: 999; }
  #banner {
    margin: -100px 0 0; }
  #banner .row {
    position: relative;
    bottom: 0;
    text-align: center;
    padding: 20px 0; }
    #banner .row h1, #banner .row p {
      color: #000000;
      width: 100%;
      max-width: 100%; }
  #page-top .row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  #page-top h2 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 20px 0;
    text-align: center; }
  #page-top .line {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 20px 0; }
  #page-top .btn {
    margin: 20px auto; }
  #about .panel {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px 0; }
  #about .panel .text {
    max-width: 100%;
    width: 95%; }
  #about .panel .social-media {
    max-width: 100%;
    width: 80%;
    padding: 36px 49px; } }

@media screen and (max-width: 640px) {
  #header .hdLeft, #header .hdRight {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 100%; } }

/*@media screen and (max-width:480px){

}*/
/*@media screen and (max-width:400px){

}*/
/*@media screen and (max-width:320px){

}*/
